/* ===================== Header ====================== */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-altbackground);
    padding: 8px 24px 8px 12px;
}

.logo-img {
    width: 64px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
}

.site-title {
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-main);
    background: var(--color-altbackground);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 24px;
    -webkit-text-stroke: .2px white;
    white-space: nowrap;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0px;
    margin-right: 0px;
}

.nav-toggle div {
    width: 24px;
    height: 2px;
    background-color: var(--color-alttext);
    margin: 4px 0;

}

.profile {
    display: flex;
    align-items: center;
    background: var(--color-altbackground);
    border-radius: 8px;
    padding: 4px 12px;
    color: var(--color-alttext);
    font-size: 16px;
}

.profile-icon {
    font-size: 19px;
    margin-right: 6px;
}

.profile-name {
    font-size: 16px;
}

@media (max-width: 540px) {
    .profile{
        display: none;
    }
}

@media (max-width: 768px) {
    .site-title{
        font-size: 40px;
        padding: 4px 8px;
        border-radius: 4px;
        margin: 0px;
    }
    .nav-toggle {
        display: block;
    }
}
